.component {
  padding: 70px 15px 15px 15px;

  .addQuestionButton {
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .buttonsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .createQuizSection {
    padding: 15px;
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .questionItemWrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .questionTextWrapper {
        display: flex;
        align-items: center;
      }
    }

    .accordionDetails {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }
  .addQuestionWrapper {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .questionFormWrapper {

      .chooseCorrect {
        padding: 15px 15px 0px 15px;
        display: flex;
        flex-direction: row;
        gap: 15px;
      }

      .answerWrapper {

        padding: 15px;

        .answerItem {
          margin-bottom: 15px;
          display: flex;
          flex-direction: row;
        }
      }

    }
  }
}

#{'div[class="MuiListItemIcon-root"]'} {
  min-width: 30px;
}
