.component {

  padding: 15px;

  .accordion {

    .accordionDetails {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .textFieldWrapper {
        display: flex;
        flex-direction: row;
        gap: 25px;
        justify-content: start;
        align-items: center;
      }
    }
  }
}
